footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer .content{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 11px;
    gap: 7px;
    color: #C7C7C7;
}

.proprietor {
    margin-top: 18px;
    font-size: 11px;
    color: #C7C7C7;
    font-weight: 400;
}